<div class="row">
    <div class="col-lg-6">
        <div class="input-group input-group-sm">
            <input type="text" class="form-control col-lg-4"
                   placeholder="New task title" ng-model="vm.newTask.label">
            <input type="text" class="form-control col-lg-6"
                   placeholder="New task description" ng-model="vm.newTask.description">
            <div class="input-group-append">
                <button class="btn btn-success btn-sm" type="button" ng-click="vm.save(vm.newTask)"
                        ng-disabled="vm.newTask.label.trim().length==0">
                    <i class="fas fa-plus"></i> Add</button>
            </div>
            </span>
        </div>
    </div>
</div>
<br>
<div class="row">
    <board-column ng-repeat="status in vm.STATUS_LABELS" name="{{status}}"
                  tasks="vm.tasks"
                  managed-status="{{status}}"
                  on-update="vm.reset()"
                  class="col-lg-4"></board-column>
</div>