    <div>
        <div class="card border-dark">
            <div class="card-header text-lg-center text-white" ng-class="vm.headerBgColor">
                <h3>
                    <i class="fas" ng-class="vm.iconClass"></i>
                    {{vm.name}}
                    <span class="badge badge-pill badge-light" ng-bind="vm.tasksToDiplay().length"></span>
                </h3>
            </div>
            <div class="card-body">

                <ul class="list-group list-group-flush ">
                    <task-details task="task"
                                  ng-repeat="task in vm.tasksToDiplay()"
                                  on-update="vm.update(task)"
                                  on-delete="vm.delete(task)"
                    ></task-details>
                </ul>
            </div>
        </div>
    </div>