
    <li class="list-group-item" ng-if="vm.isEditing==false" ng-dblclick="vm.edit()">
        <div class="card border-secondary">
            <div class="card-header text-lg-center">
                <h4 ng-bind="vm.task.label"></h4>
            </div>
            <div class="card-body">
                <p class="card-title" ng-bind="vm.task.description"></p>
                <p class="card-text text-right"><small class="text-muted" ng-bind="vm.task.id"></small></p>
                <div class="text-right">
                    <button class="btn btn-danger" ng-click="vm.onDelete(vm.task)">
                        <i class="fas fa-skull-crossbones"></i> Delete</button>
                    <button class="btn btn-primary" ng-if="vm.canMoveNext()" ng-click="vm.moveToNextStatus()">
                        <i class="fas fa-chevron-right"></i> Move Next</button>
                </div>
            </div>
        </div>
    </li>
    <li class="list-group-item" ng-if="vm.isEditing==true">
        <div class="card border-secondary">
            <div class="card-header text-lg-center">
                <input type="text" class="form-control" ng-model="vm.task.label">
            </div>
            <div class="card-body">
                <p class="card-title"><textarea class="form-control" ng-model="vm.task.description"></textarea></p>
                <p class="card-text text-right"><small class="text-muted" ng-bind="vm.task.id"></small></p>
                <div class="text-right">
                    <button class="btn btn-success" ng-click="vm.cancel()">
                        <i class="fas fa-undo"></i> Cancel</button>
                    <button class="btn btn-primary" ng-click="vm.onUpdate(vm.task)"
                            ng-disabled="vm.task.label.trim().length==0">
                        <i class="fas fa-check"></i> Update</button>
                </div>
            </div>
        </div>
    </li>