    <div class="row">
        <div class="col-lg-4">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="New team name..." ng-model="vm.newTeam.name">
                <span class="input-group-btn">
                <button class="btn btn-success" type="button" ng-click="vm.save(vm.newTeam)" ng-disabled="vm.newTeam.name.trim().length==0">
                    <i class="fas fa-plus"></i> Add</button>
            </span>
            </div>
        </div>
    </div>
    <br>

    <table class="table table-striped table-bordered">
        <thead class="table-dark">
            <tr><th ><i class="fas fa-chalkboard-teacher"></i>&nbsp;&nbsp;Team Name</th>
                <th ></th>
                </tr></thead>
        <tbody><tr ng-repeat="team in vm.teams">
                <td><input class="form-control" ng-model="team.name">
                    <div class="text-left">
                        <span class="badge badge-primary">Todo : {{::team.stats.TODO}}</span>
                        <span class="badge badge-warning">Wip : {{team.stats.WIP}}</span>
                        <span class="badge badge-success">Done : {{::team.stats.DONE}}</span></td>
                    </div>
                </td>
                <td>
                    <a ng-href="#!/teams/{{team.id}}/board" class="btn btn-success" >
                        <i class="fas fa-search"></i> View</a>
                    <button class="btn btn-primary" ng-click="vm.update(team)">
                        <i class="fas fa-save"></i> Update</button>
                    <button class="btn btn-danger" ng-click="vm.delete(team)">
                        <i class="fas fa-skull-crossbones"></i> Delete</button></td>
                </tr></tbody>
    </table>